# Ambiente virtuale
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# File OS
.DS_Store
Thumbs.db

# Modelli
models/*
!models/.gitkeep

# Output
outputs/*
!outputs/.gitkeep
!outputs/figures/
!outputs/figures/.gitkeep
!outputs/metrics/
!outputs/metrics/.gitkeep
!outputs/submissions/
!outputs/submissions/.gitkeep

# Dati intermedi e processati
data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Mantieni dati grezzi
!data/raw/

# VS Code
.vscode/
